body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bg {
    background-image: url("images/limoncello2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.logo {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 25vh;
    display: block;
}

.form {
    width: 100vh;
    background-color: white;
    border-radius: 25px;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    overflow: hidden;
}

h1 {
    color: #878E00;
    text-align: center;
    margin-top: 3vh;
    font-size: 5vh;
}

.tab {
    width: 70vh;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}

.tab p {
    font-size: 2.5vh;
}

.tab select {
    padding: 1vh;
    width: 25vh;
    font-size: 2.5vh;
    border: 2px solid #878E00;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.field {
    margin-top: 7vh;
    width: 100%;
    display: block;
}

#verzenden {
    display: none;
    border: none;
    color: white;
    background-color: #878E00;
    border-radius: 25px;
    display: inline-block;
    float: left;
    margin-left: 2vh;
    width: 15vh;
}

#verzendenButton::hover {
    cursor: pointer; 
}

#verzenden::hover {
    cursor: pointer;
}

#verzendenButton {
    border: none;
    color: white;
    background-color: #878E00;
    border-radius: 25px;
    display: none;
    float: left;
    margin-left: 2vh;
    width: 17vh;
    font-size: 2.5vh;
    line-height: 5vh;
    padding: 0;
}

#vorige {
    display: none;
    float: left;
}

#buttons {
    margin-left: 60vh;
    margin-top: 30vh;
}

.button {
    border: none;
    color: white;
    background-color: #878E00;
    border-radius: 25px;
    display: inline-block;
    float: left;
    margin-left: 2vh;
    width: 15vh;
    text-align: center;
}

.button a {
    line-height: 5vh;
    font-size: 2.5vh;
    padding: 1.5vh;
}

.button:hover {
    cursor: pointer;
}

fieldset {
    width: 60vh;
    position: absolute;
    border: none;
    margin-left: -2vh;
}

input {
    font-size: 2.5vh;
    margin-top: -2vh;
    margin-bottom: 2vh;
}

.labels {
    width: 65vh;
    display: block;
    position: absolute;
}

table td {
    width: 85vh;
}

#tab1 {
    display: none;
}

#tab2 {
    display: none;
}

#tab3 {
    display: none;
}

#tab4 {
    display: none;
}

#tab3 p {
    font-size: 2.5vh;
}

.div {
    margin-top: 3vh;
    margin-bottom: 1vh;
    border-bottom: 2px solid #878E00;
    width: 35vh;
}

#error {
    color: red;
    font-size: 1.5vh;
    display: none;
}

@media screen and (max-width: 150vh) {

    .logo {
        margin-top: 2vh;
        width: 30%;
    }

    .form {
        width: 90%;
        height: 75vh;
        position: relative;
    }

    .tab {
        width: 90%;
    }

    #buttons {
        margin-left: 15%;
        position: absolute;
        bottom: 3vh;
    }

    .labels {
        width: 80%;
    }

    #tab1 td, #tab2 td {
        display: inline-block;
    }

    #tab1 {
        height: 60vh;
    }

    p {
        margin-top: -1vh;
    }
}
